@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Montserrat:100,200,300,400,500,600,700,800|Tangerine:100,200,300,400,500,600,700,800');


*{
    padding: 0;
    border: 0;
    margin: 0;
    
}
 

.container,
.container-fluid {
    padding: 0;
}

/*------------------------- Nav Bar Styling*/

.bg-dark {
background-color: #2C003E !important;
}

.logo-color {
 color: #FFC106;
 font-size: 30px;
}

.btn-warning {
    background-color: #FFC106 !important;
    border-color: #2C003E !important;
    height: 40px !important;
}


.contact-text {
    line-height: 10px;
    color: #2C003E !important;
      font-weight: 500;

}


/*------------------------- Hero Section Styling*/
.hero-main-style {
    height: 475px;
    background-color: rgba(44, 0, 62, 0.1); 
    position: relative;
}

.hero-image-style {
    height: 475px;
    background-color:  rgb(44, 0, 62, 0.1); 
    position: relative;
       
}


#dancer-style {
    height: 80%;
    width: 90%;
    position: absolute;
    margin-top: 5%;
}

.line-text-container {
    position: absolute;
    top: 10%;
    left: 15%;
   font-family: 'Tangerine', cursive;
   
}

#line1 {
   font-size: 7vw; 
   font-weight: 500;
   
}

#line2 {
padding-left: 15px;
font-size: 7vw;
font-weight: 500;
line-height: 15px;
}

#line3{
    padding-left: 30px;
    font-size: 7vw;
    font-weight: 500;

}


.button-style {
    height: 30px;
    background-color:#FFC106;
}

.ticket-button {
    position: relative;
    background-color: #FFC106;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #2C003E;
    min-width: 60%;
    margin-left: 20%;
    margin-top: 5%;
}


.style-model-title {
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        font-weight: 400;
}


.style-model-message {
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        font-weight: 400;
}

/*------------------------- About Section Styling*/

.about-section {
    height: 300px;
    background-color:#FFF;
    margin-top: 80px;
    margin-bottom: 120px;

}
.theatre-image-style {
     min-height: 90%;
    max-width: 90%;
    border: #2C003E 2px solid;
    margin-left: 14px;
}


.theatre-image-style-y {
    min-height: 90%;
    max-width: 90%;
    border: #FFC106 2px solid;
      margin-left: 14px;
}

.about-text-style {
    font-weight: 300;
    font-size: 22px;
    position: relative;
    top: 20%;
}

.about-text-style-2{
    font-size: 24px;
    font-weight: 400;
    position: relative;
    top: 25%;
}

.change-color-text {
    color: #2C003E;
}

.icon-style-list {
    color: #2C003E;
    font-size: 24px;
    padding: 5px;
}

#contact{
    padding-bottom: 2%;
}

.list-style{
    list-style: none;
    position: relative;
    top: 28%;
     font-size: 22px;
     font-weight: 300;
  
}


/*------------------------- Contact Section Styling*/


.contact-container {
     margin-bottom: 25px;
     height: 400px;

    
}

.contact-us-block {
    background-color: #2C003E;
    max-height: 90%;
    max-width: 90%;

}


/*------------------------- Photo Section Styling*/
.picture-slides-style
{
    max-height: 500px !important;
   
}

.style-camera-icon {
    
    color: #FFC106;
    left: 75px;
    top: 40px;
    font-size: 40px;
    padding: 0;
    margin: 0;
}

.bg-photo-section {
      background-color:  rgb(44, 0, 62, 1); 
      max-height: 590px;
      padding-top: 40px;
}

.border-yellow{
    border: #FFC106 solid 5px;
    border-radius: 5px;
    margin-bottom: 35px;
    
}


/*------------------------- Footer Section Styling*/




/*---------------------------------------------------------------------------- Media Query styles*/


@media (max-width: 1199.98px) {

/* About text */

.about-text-style {
    font-weight: 300;
    font-size: 22px;
    position: relative;
    top: 20%;
}

.about-text-style-2{
    font-size: 24px;
    font-weight: 400;
    position: relative;
    top: 15%;
}

.change-color-text {
    color: #2C003E;
}

.icon-style-list {
    color: #2C003E;
    font-size: 24px;
    padding: 5px;
}

#contact{
    padding-bottom: 2%;
}

.list-style{
    list-style: none;
    position: relative;
    top: 22%;
     font-size: 22px;
     font-weight: 300;
  
}



}

@media  (max-width: 991px) {
.hero-main-style {
    height: 300px;
}


.hero-image-style {
    height: 300px;
    background-color:  rgb(44, 0, 62, 0.1); 
    position: relative;
       
}

.about-text-style {
    font-weight: 300;
    font-size: 22px;
    position: relative;
    top: 17%;
}

.about-text-style-2{
    font-size: 24px;
    font-weight: 400;
    position: relative;
    top: 18%;
}

.change-color-text {
    color: #2C003E;
}

.icon-style-list {
    color: #2C003E;
    font-size: 24px;
    padding: 5px;
}

#contact{
    padding-bottom: 2%;
}

.list-style{
    list-style: none;
    position: relative;
    top: 18%;
     font-size: 22px;
     font-weight: 300;
  
}

.about-section {
    height: 300px;
    background-color:#FFF;
    margin-top: 80px;
    margin-bottom: 80px;

}
.contact-container {
     margin-bottom: 80px;
     height: 250px;
    
}



}

@media (max-width: 767.98px) {



.btn-warning {
    background-color: #FFC106 !important;
    border-color: #2C003E !important;
    height: 40px !important;
    margin-bottom: 40px;
}


    /* Hero */

.hero-main-style{
    max-height: 45vh !important;
    background-color: #fff;
}

.line-text-container {
    position: absolute;
    top: 10%;
    left: 10%;
   font-family: 'Tangerine', cursive;
   
}

#line1 {
   font-size: 15vw; 
   font-weight: 500;
   
}

#line2 {
padding-left: 15px;
font-size: 15vw;
font-weight: 500;
line-height: 15px;
}

#line3{
    padding-left: 30px;
    font-size: 15vw;
    font-weight: 500;

}


  /* About */
.about-section {
    height: 300px;
    background-color:#FFF;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;

}
.theatre-image-style {
    max-height: 90%;
    max-width: 100%;
     min-width: 100%;
    border: #2C003E 2px solid;
    margin-left:0;
}


.theatre-image-style-y {
    max-height: 90%;
    max-width: 100%;
    min-width: 100%;
    border: #FFC106 2px solid;
     margin-left:0;
}

.about-text-style {
    font-weight: 300;
    font-size: 22px;
    position: unset;
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
       
}

.about-text-style-2{
    font-size: 24px;
    font-weight: 400;
        position: unset;
          text-align: center;

   
}

.list-style{
    list-style: none;
     font-size: 22px;
     font-weight: 300;
     position: unset;
       text-align: center;
       padding-left: 10px;
      padding-right: 10px;
  
}

.icon-style-list {
    color: #2C003E;
    font-size: 24px;
    padding: 5px;
    display: block;
    text-align: center;
}




/* Contact*/

.contact-container {
  height: auto;
  padding: 0;
  margin: 0;
}


.contact-image-style {
    max-height: 100%;
    max-width: 100%;
     min-width: 100%;

}


.contact-image-style-y {
    max-height: 100%;
    max-width: 100%;
     min-width: 100%;
  
}
.contact-us-block {
    background-color: #2C003E;
       max-height: 100%;
    max-width: 100%;
     min-width: 100%;

}

/*------------------------- Photo Section Styling*/
.picture-slides-style
{
    max-height: 250px !important;
    min-height:250px !important;
    padding: 0;
    margin: 0;
    
}

.style-camera-icon {
    
    color: #FFC106;
    left: 75px;
    top: 40px;
    font-size: 40px;
    padding: 0;
    margin: 0;
}

.bg-photo-section {
      background-color:  rgb(44, 0, 62, 1); 
      max-height: 250px !important;
      min-height: 250px !important;
       padding-top: 0;
}

.border-yellow{
    border: none;

    
}
.w-100 {
    height: 250px !important;
}


}



