@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Montserrat:100,200,300,400,500,600,700,800|Tangerine:100,200,300,400,500,600,700,800');


*{
    padding: 0;
    border: 0;
    margin: 0;
    
}

.container,
.container-fluid {
    padding: 0;
}

/*------------------------- Nav Bar Styling*/

.bg-dark {
background-color: #2C003E !important;
}

.logo-color {
 color: #FFC106;
 font-size: 30px;
}



/*------------------------- Hero Section Styling*/
.hero-main-style {
    height: 500px;
    background-color: rgba(44, 0, 62, 0.1); 
    position: relative;
}

.hero-image-style {
      height: 500px;
    background-color:  rgb(44, 0, 62, 0.1); 
       position: relative;
       
}


#dancer-style {
    height: 80%;
    width: 90%;
    position: absolute;
    margin-top: 5%;
}

.line-text-container {
    position: absolute;
    top: 10%;
    left: 15%;
   font-family: 'Tangerine', cursive;
   
}

#line1 {
   font-size: 7vw; 
   font-weight: 500;
   
}

#line2 {
padding-left: 15px;
font-size: 7vw;
font-weight: 500;
line-height: 15px;
}

#line3{
    padding-left: 30px;
    font-size: 7vw;
    font-weight: 500;

}


.button-style {
    height: 30px;
    background-color:#FFC106;
}

.ticket-button {
    position: relative;
    background-color: #FFC106;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #2C003E;
    min-width: 60%;
    margin-left: 20%;
    margin-top: 5%;
}


/*------------------------- About Section Styling*/

.about-section {
    height: 300px;
    background-color:#FFF;
    margin-top: 120px;
    margin-bottom: 120px;

}
.theatre-image-style {
    width: 90%;
    height: 90%;
    border: #2C003E 2px solid;
}



.about-text-style {
    font-weight: 300;
    font-size: 18px;
}

.about-text-style-2{
    font-size: 22px;
     font-weight: 400;
}

.list-style{
    list-style: none;
}


/*------------------------- Contact Section Styling*/


.contact-container {
    margin-bottom: 50px;
     height: 300px;
}

.contact-us-block {
    background-color: #2C003E;
    min-height: 90%;
    max-width: 90%;
}

.input-style {
    border: #2C003E solid 2px;
}




/*------------------------- Photo Section Styling*/
.picture-slides-style
{
    max-height: 500px !important;
}

.style-camera-icon {
    position: relative;
    color: #FFC106;
    left: 75px;
    top: 40px;
    font-size: 40px;
    padding: 0;
    margin: 0;
}

.bg-photo-section {
      background-color:  rgb(44, 0, 62, 1); 
      max-height: 590px;
}

.border-yellow{
    border: #FFC106 solid 5px;
    border-radius: 5px;
    margin-bottom: 35px;
    
}


/*------------------------- Footer Section Styling*/